body {
    background: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preview {
    max-width: 330px;
    min-height: 500px;
    width:100%;
    background-color: hsl(210, 46%, 95%);
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.left-preview {
    background-image: url(https://github.com/lynnecodes/FM-articlepreviewcomponent/blob/master/images/drawers.jpg?raw=true);
    background-size: cover;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right-preview {
    font-size: 13px;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
    color: ;
    font-weight: 500;
}

.right-preview h2 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.right-preview p {
    line-height: 20px;
    padding-bottom: 10px;
}

.author {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 10px;
}

.name h4{
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin: 0px;
    padding-top: 0px;
}

.name p {
    margin: 0px;
}

.avatar img {
    border-radius: 100%;
    width: 40px;
}

.share-icon {
    transform: translateY(7px) translateX(7px);
}

.popuptext {
    display: flex;
}

.popuptext img {
    padding: 2px;
    margin-top: 5px;
    margin-left: 2px;
}

.popuptext p {
    padding: 3px;
    margin-top: 15px;
    margin-left: 10px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: hsl(210, 46%, 95%);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.popup img {
    transform: translateX(7px) translateY(7px);
}
  
.popup .popuptext {
    visibility: hidden;
    width: 190px;
    background: hsl(217, 19%, 35%);
    color:hsl(212, 23%, 69%);
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -20%;
    margin-left: -80px;
    letter-spacing: 3px;
}
  
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  hsl(217, 19%, 35%) transparent transparent transparent;
}
  
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 768px) {
    .preview {
        max-width: 740px;
        max-height: 290px;
        min-height: 10px;
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    .left-preview {
        width: 287px;
        height: 287px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 14px;
        border-top-right-radius: 0px;
    }

    .right-preview {
        max-width: 400px;
    }
}
