/* root */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* import Manrope font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}


body {
    background-color: var(--light-gray);
}

main {
    background-color: var(--white);
    border-radius: 20px;
    
}

p {
    font-size: 13px;
    color: var(--grayish-blue);
}

#section-1 {
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#avatar {
    /* make round */
    border-radius: 50%;
    /* make image smaller */
    width: 20%;
}

#share {
    width: 7%;
    position: static;
    margin-bottom: 2%;
}

.share-background {
    /* add light gray circle as background to icon */
    background-color: var(--light-gray);
    border-radius: 50%;
    padding: 10px;
    /* center icon */
    margin-left: 15px;
    margin-right: 15px;
    z-index: -2;
}

.popup {
    background-color: var(--dark-blue);
    border-radius: 20px;
    padding: 4px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -130%);
    z-index: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popup-text {
    color: var(--white);
    font-size: 20px;
}